<div class="adminSelection_fullpage_container">
	<div class="adminSelection_container">
		<ul>
			<li class="adminSelection_item">@Html.ActionLink("Admin Module", "Home", "Admin")</li>
			<li class="adminSelection_item">@Html.ActionLink("Booking Module", "UserHome", "User")</li>
			<li class="special_case"><a>Check In & Check Out Module</a></li>
		</ul>
	</div>
</div>

