<div class="generalPanel_header">
	<div class="generalPanel_header_container">
		<h2>My Booking</h2>
	</div>
</div>
	
<div class="generalPanel_body">
	<div class="generalPanel_body_container">
		<p>My Booking Page</p>
	</div>
</div>



