<div class="generalPanel_header">
	<div class="generalPanel_header_container">
		<h2>New Booking</h2>
	</div>
</div>
	
<div class="generalPanel_body">
	<div class="generalPanel_body_container">
		<p>New Booking Page</p>
		<div id='calender'></div>
	</div>
</div>



