@model IOS.FacilityBooking.Web.Models.LoginModel
@{
    ViewBag.Title = "iOneSoftSolutions";
	Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<div id="main-content">
	
	@if(!User.Identity.IsAuthenticated)
	{
		<div id="loginPanel">
			@{Html.RenderPartial("_LoginPartial");}
		</div>
		
		<div id="registerPanel">
			@{Html.RenderPartial("_RegisterPartial");}
		</div>
	}
	else
	{
		<div id="adminSelectionPanel">
			@{Html.RenderPartial("_AdminSelection");}
		</div>
	}

</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
    }
}