<div class="generalPanel_header">
	<div class="generalPanel_header_container">
		<h2>Booking History</h2>
	</div>
</div>
	
<div class="generalPanel_body">
	<div class="generalPanel_body_container">
	</div>
</div>
