<div class="generalPanel_header">
	<div class="generalPanel_header_container">
		<h2>Booking History</h2>
	</div>
</div>
	
<div class="generalPanel_body">
	<div class="generalPanel_body_container">
		<div id="bookingCalendar" class="ui-widget">
			<table class="bookingCalendar_header">
				<tr>
					<td class="bookingCalendar_header_left">
						<span class="​bookingCalendar-button bookingCalendar-button-week ui-corner-left ui-state-default">​Week​</span>​
						<span class="​bookingCalendar-button bookingCalendar-button-day ui-corner-right ui-state-default">​Day​</span>​
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>



