<div class="generalPanel_header">
	<div class="generalPanel_header_container">
		<h2>My Booking</h2>
	</div>
</div>
	
<div class="generalPanel_body">
	<div class="generalPanel_body_container">
		<div id="calendar">

		</div>
	</div>
</div>



