<div class="generalPanel_header">
	<div class="generalPanel_header_container">
		<h2>New Booking</h2>
	</div>
</div>
	
<div class="newBookingPanel_body">
	<div class="newBookingPanel_menu_container">
		<table id="newBookingPanel_menu">
			<tr>
				<td class="newBookingPanel_header">Choose Your Booking Types</td>
			</tr>
			<tr>
				<td class="newBookingPanel_content selected_content">Rooms</td>
			</tr>
			<tr>
				<td class="newBookingPanel_content">Air-Conditioners</td>
			</tr>
			<tr>
				<td class="newBookingPanel_content">Cars</td>
			</tr>
		</table>
	</div>
	<div class="newBookingPanel_calendar_container">
		<div id="mcalendar">

		</div>

		<div class="ow-overlay ow-closed"></div> 
		<div class="modal ow-closed">Hello, human!</div>
	</div>
</div>



