/* General Styling */

body {
	line-height: 1;
	font-family: Arial, sans-serif;
	/*-webkit-user-select: none;  Chrome/Safari */
	/*-moz-user-select: none;  Firefox */
	/*-ms-user-select: none;  IE10+ */
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #87ceeb; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #808080; 
}

/* Create Hotel Panel */

.header {
	background-color: #87ceeb;
	border-bottom: 1px solid #71c5e7;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

.header .header_container {
	margin: 0 auto;
	width: 1300px;
	height: 50px;
}

.main_menu ul {
	margin: 0 auto;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

	.main_menu ul li {
		display: inline-block;
		padding: 0;
		float: left;
	}

		.main_menu ul li:hover {
			border-bottom: 3px solid #f5f5f5;
		}

.main_menu ul .menu_item {
	color: #f5f5f5;
	font-size: 16px;
	float: left;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
}

.current_selected {
	border-bottom: 3px solid #f5f5f5;
}

.body_container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	margin-bottom: 8px;
	width: 99%;
	background-color: #f4f4f4;
	border: 1px solid #fff;
	padding: 5px -10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px #aaa;
	-webkit-box-shadow: 0px 0px 3px #aaa;
	box-shadow: 0px 0px 3px #aaa;
}

.createContainer {
	margin: 10px auto 0 auto;
	width: 1300px;
	height: 220px;
	border-top: 1px solid #f5f5f5;
	display: none;
}

.createHotelTable {
	margin-top: 10px;
	margin-left: 10px;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	color: #f5f5f5;
}

	.createHotelTable .labelName {
		text-align: right;
	}

#nameHotel, #descriptionHotel {
	width: 320px;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	padding: 5px 5px 5px 5px;
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#createHotelbtn, #closeContainerbtn {
	margin-top: 5px;
	margin-left: 5px;
	width: 160px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

#createHotelbtn:hover, #closeContainerbtn:hover {
		background: rgb(74, 179, 198);
	}

	#createHotelbtn:active, #createHotelbtn:focus,
	#closeContainerbtn:active, #closeContainerbtn:focus {
		background: rgb(40, 137, 154);
		position: relative;
		top: 1px;
		border: 1px solid rgb(12, 76, 87);
		-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	}

.hotelDisplay {
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.hotelPictureName {
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	font-family: Papyrus, fantasy;
}

.hotelContainer {
	float: left;
	margin: 10px 25px 10px 15px;
	background-color: #87ceeb;
	border: 1px solid #71c5e7;
	padding: 10px 10px 10px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px #71c5e7;
	-webkit-box-shadow: 0px 0px 3px #71c5e7;
	box-shadow: 0px 0px 3px #71c5e7;
}

	.hotelContainer:hover {
		cursor: pointer;
	}

#errorName, #errorDescription {
	text-align: left;
	width: 300px;
	margin-left: 5px;
	color: #ff4000;
}

/* Hotel Menu */

#hotelMenuPanel {
	display: none;
}

.goBackButton {
	margin-right: 10px;
	float: left;
}

.manageHotel_container {
	margin: 10px;
	background-color: #87ceeb;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	height: 50px;
	width: 350px;
}

#displayCurrentHotelName {
	font-size: 30px;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	font-family: Papyrus, fantasy;
}

#manageHotelMenu .manageHotelMenu_item {
	margin: 0 1%;
	float: left;
	width: 23%;
	text-align: center;
	height: 150px;
	background-color: #add8e6;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	font-size: 30px;
	text-decoration: underline;
	color: #fff;
	text-align: center;
	padding-top: 80px;
	text-transform: capitalize;
	font-family: Papyrus, fantasy;
}

	#manageHotelMenu .manageHotelMenu_item:hover {
		cursor: pointer;
	}
