@{
    ViewBag.Title = "Create Hotel";
}

<div class="header">
	<div class="header_container">
		<div class="main_menu">
			@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
			{
				@Html.AntiForgeryToken()
				<ul>
					<li class="menu_item" id="showCreateContainer">Create<span class="icon-plus"></span></li>
					<li class="menu_item">Remove<span class="icon-minus"></span></li>
					<li class="menu_item">Refresh<span class="icon-refresh"></span></li>
					<li class="menu_item_right" id="AdminLogOff">Log Off<span class="icon-lock"></span></li>
				</ul>
			}
		</div>
	</div>
	<div class="createContainer">
		<table class="createHotelTable">
			<tr>
				<td>
					<p class="labelName">Name of Hotel :</p>
				</td>
				<td><input id="nameHotel" maxlength="20" type="text" autocomplete="off" /></td>
				<td id="errorName"></td>
			</tr>
			<tr>
				<td class="labelName" style="vertical-align: top">
					<p>Description :</p>
				</td>
				<td><textarea rows="6" id="descriptionHotel"></textarea></td>
				<td id="errorDescription"></td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align: center;">
					<input id="createHotelbtn" type="submit" value="Create" /><input id="closeContainerbtn" type="button" value="Close" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="body_container">
	<div class="hotelDisplay">

	</div>
</div>

<div class="footer">
	<div class="footer_container">
			
	</div>
</div>
