@{
    ViewBag.Title = "Create Hotel";
}

<div class="header">
	<div class="header_container">
		<div class="main_menu">
			<ul>
				<li class="menu_item" id="showCreateContainer">Create</li>
				<li class="menu_item">Remove</li>
				<li class="menu_item">Refresh</li>
			</ul>
		</div>
	</div>
	<div class="createContainer">
		<table class="createHotelTable">
			<tr>
				<td>
					<p>Name of Hotel :</p>
				</td>
				<td>
					<input id="nameHotel" type="text" /></td>
			</tr>
			<tr>
				<td style="vertical-align: top">
					<p>Description :</p>
				</td>
				<td>
					<textarea rows="6" id="descriptionHotel"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align: center;">
					<input id="createHotelbtn" type="submit" value="Create" /><input id="closeContainerbtn" type="button" value="Close" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="body_container">
	<div class="hotelDisplay">
		
	</div>
</div>

<div class="footer">
	<div class="footer_container">
			
	</div>
</div>
