@{
    ViewBag.Title = "Manage Hotel";
}

<div class="header">
	<div class="header_container">
		<div class="main_menu">
			<ul>
				<li class="menu_item goBack"><img class="goBackButton" src="~/Content/images/back.png" /><p class="goBackButton">Go Back</p></li>
			</ul>
		</div>
	</div>
</div>

<div class="body_container">
	<div class="manageHotel_container">
		<div id="displayCurrentHotelName"></div>
	</div>

	<div class="manageHotelMenu_container">
		<div id="manageHotelMenu">
			<ul>
				<li class="manageHotelMenu_item">Manage Floors</li>
				<li class="manageHotelMenu_item">Manage Departures</li>
				<li class="manageHotelMenu_item">Manage Services</li>
				<li class="manageHotelMenu_item">Manage Users</li>
			</ul>	
		</div>
	</div>
</div>

<div class="footer">
	<div class="footer_container">
			
	</div>
</div>
